.split {
	height: 100%;
	position: fixed;
	transition: 0.5s;
}

.right {
	right: 0;
	width: 55%;
	background-color: #f8f9fa;
	padding: 30px;
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.login-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
	width: 100%;
	max-width: 350px;
}

.text-primary:hover {
	text-decoration: underline;
}

.step {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.steps-container {
	position: relative;
	width: 100%;
	min-height: 170px;
}